<% provide(:page, "welcome") %>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><b>Welcome!</b></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="">
            <a href="#">Get Started</a>
          </li>
          <li class="">
            <a href="#"><b>Sign Up</b></a>
          </li>
	  <li class="divider-vertical"></li>
          <li class="dropdown">
	    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
	      <b>Sign In</b>
	      <strong class="caret"></strong>
	    </a>
	    <div class="dropdown-menu" style="padding:15px; padding-bottom:0px">
	      <%= simple_form_for :session, url: {controller: :sessions, action: :create} do |f| %>
	      <%= f.input :email, label: false, placeholder: "Your Email" %>
	      <%= f.input :password, label: false, placeholder: "Password" %>
	      <center>
		<button class="btn btn-info btn-default">&nbsp;<b><i class="icon-check icon-white"></i>&nbsp; Sign In &nbsp;&nbsp;</b></button>
	      </center>
	      <% end %>
	    </div>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<div class="wrapper" style="margin: 0 auto; float: center">
  <div class="caption" style="width:64%; float:left; margin:5px">
    <h2>My first Rails App</h2>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="caption" style="width:31%; float: left; margin:3px">
    <br />
    <%= simple_form_for :new_user, url: {controller: :users, action: :create} do |f|%>
    <%= f.input :username, label: false, placeholder: 'Your Name' %>
    <%= f.input :email, label: false, placeholder: 'Your E-mail' %>
    <%= f.input :password, label: false, placeholder: 'Password' %>
    <%= f.input :password_confirmation, label: false, placeholder: 'Confirm Password' %>
    <center>
      <button class="btn btn-large btn-block btn-info"><i class="icon-pencil icon-white"></i>&nbsp;&nbsp;<b>Sign Up Now</b></button>      
    </center>
    <% end %>
  </div>

  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <center>
      <h3>
	<strong><%= value %></strong>
      </h3>
    </center>
    <% if @signup %>
    <ul>
      <% @signup_error.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <% end %>

  <!--<% if @error %>
  <div class="alert alert-error">
    <center>
      <h3><strong>Something went wrong with your signup procedure</strong></h3>
      <strong>Retry signing up with all the informations required and matching passwords</strong>
    </center>
  </div>
  <% end %>-->


</div>
