<!DOCTYPE html>
<html>
<head>
  <title>Skare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"><b>Welcome <%= yield(:username) %> !</b></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="">
            <a href="https://github.com/"><b>GitHub</b></a>
          </li>
          <li class="">
            <a href="">Author</a>
          </li>
	  <li class="divider-vertical"></li>
	  <li class="dropdown">
	    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
	      <b>Account </b><i class="icon-cog icon-white"></i>
	    </a>
	    <ul class="dropdown-menu">
	      <li>
		<%= link_to 'Sign Out', controller: :sessions, action: :destroy %>
	      </li>
	      <li class="divider"></li>
	      <li>
		<%= link_to 'Drop Account', controller: :users, action: :destroy %>
	      </li>
	    </ul>
	  </li>	  
        </ul>
      </div>
    </div>
  </div>
</div>
  
<br />
<br />
<br />

<% if yield(:page) != 'welcome' %>
<div class="left-bar">
  <div class="caption">
    <ul class="nav nav-pills nav-stacked">
      <% if yield(:page) == 'home' %>
      <li class="active">
	<% else %>
      <li>
	<% end %>
	  <%= link_to '<center><i class="icon-home"></i>&nbsp;&nbsp;<b>Home</b></center>'.html_safe, controller: :users, action: :show %>
      </li>
      <% if yield(:page) == 'commissions' %>
      <li class="active">
	<% else %>
      <li>
	<% end %>
	<%= link_to '<center><i class="icon-book"></i>&nbsp;&nbsp;<b>Commissions</b></center>'.html_safe, controller: :posts, action: :index %>
      </li>
    </ul>
  </div>
</div>
<% end %>
<!-- YIELD !!! -->
<%= yield %>
<!-- YIELD !!! -->

<div style="clear:both"></div>
<div class="page-header" style="margin-top: 70px">
</div>
<center>
  <h4><small>Developed with <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://twitter.github.com/bootstrap/">Twitter-Bootstrap</a> CSS Framework</small></h4>
</body>
</center>
</html>
